.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding-top: 150px;
}
  
form{
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 6rem;
}

.inputContainer {
    position: relative;
    width: 20vw;
}

input{
    height: 150px;
    width: 15vw ;
    padding: 10px 150px;
    font-size: 2rem;
    font-family: 'monserrat';
    font-weight: lighter;
    outline: none;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 10px 5px 0px rgba(120,119,119,0.75);
    -webkit-box-shadow: -2px 10px 5px 0px rgba(120,119,119,0.75);
    -moz-box-shadow: -2px 10px 5px 0px rgba(120,119,119,0.75);    
}

.iconUser,
.iconPassword{
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    padding-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;

}


.iconUser {
    background-image: url('../Img/Icons/ICO-USER-ME.svg');
}

.iconPassword {
    background-image: url('../Img/Icons/ICO-PASSWORD.svg'); 
}


/*Responsive*/
@media (min-width: 1500px) {
    
}

/*tablets y laptops*/
@media (max-width: 1199px) and (min-width: 768px) {
    /* Estilos para pantallas medianas */

}

/*Pantallas Mobile medium*/
@media (max-width: 768px) {
    /* Estilos para pantallas pequeñas */
}

/*pantallas Mobile small*/
@media (max-width: 480px) {

    .content{
        padding-top: 50px;
    }

    .ContainerForm{
        width: 100vw;
    }

    form{
        gap: 4rem;
        align-items: baseline;
        width: 100vw;
    }
    
    .inputContainer {
        position: relative;
        width: 19vw;
    }
    
    input{
        height: 50px;
        width: 60vw;
        padding: 10px 99%;
        font-size: 1.5rem;    
    }
    
    .iconUser,
    .iconPassword{
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 22px;
        height: 31px;
        padding-left: 10px;
    }
    
}