/*4- Colores y variables globales*/
:root{
    --Buttons-Color:#D93E30;
    --Buttons-Warning:#F29441;
    --Buttons-Error:#F8200D;
    --Icons-Light-Color:#D93E30;
    --Icons-Darks-Color:#FFFF;
    --Hover-Uno:#F29441;
    --Hover-Dos:#4bb1be;
    --Hover-Tres:#D93E30;
    --Background-Navbar:rgba(10,10,10,0.78);
    --Background-Form-Dark:rgba(10,10,10,0.78);
    --Background-Form-light:rgba(17,14,14,0.28);
    --Background-Input-Dark:rgba(9,9,9,0.80);
    --Background-Form:url(../src/Img/Fondo3.jpg);
    --Background-Dash-P:url(../Img/fondoDash.jpg);


    --spacing-small: 60px;
    --spacing-medium: 80px;
    --spacing-large: 91px;

    --Background-Height:100vh;
    --Bacground-Width:100%;

    --Box-Shadow:-2px 10px 18px 1px rgba(0,0,0,0.46);;

}


/*5- Estilos generales Enlaces y Bootnes*/

.btn-L{
    height: 50px;
    width: 398;
    background-color: var(--Buttons-Color);
    align-items: center;
    border-radius: 50px;
    border:none;
    box-shadow: var(--Box-Shadow);
}

.btn__text {
    color: var(--Btn-Color);

}


.btn-M{
    height: 190px;
    width: 20vw;
    padding: 10px;
    color:var(--Btn-Color);
    background-color: var(--Buttons-Color);
    font-family: 'monserrat';
    font-size: 2rem;
    font-weight:500;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    border-radius: 100px;
    border:none;
    box-shadow: var(--Box-Shadow);
}

.btn-M:active{
    transform: scale(0.9);
}

.btn-s{
    height: 50px;
    width: 152px;
    background-color: var(--Buttons-Color);
    border-radius: 50px;
    border:none;
    box-shadow: var(--Box-Shadow);
}

/*6- Diseño de contenedores y secciones*/
body{
    margin: 0;
    height: 100vh;
    
    background:var(--Background-Form);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.BackdropFilter{
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(15px);
    backdrop-filter: brightness(65%);
}

.container{
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;      
}

.contanerLight{
    height: 60vh;
    width: 80vw;
    background: rgba(255, 255, 255, 0.45);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 100px;
    border: none;
    position: relative;
    z-index: 1;
}

.layoutRegister{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.logo{
}



/*Responsive*/

/* Pantallas grandes */
@media (min-width: 1500px) {
    .layoutRegister{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }

    .contanerLight {
        height: 70vh;
        width: 80vw;
        border-radius: 100px;
        top: 90px;
    }

    .container{
        flex-wrap: wrap;
    }
    

    .btn-M{
        height: 100px;
        width: 33vw;
        padding: 10px;
        font-family: 'monserrat';
        font-size: 1rem;
        font-weight:500;
    }

    

}

/*Laptop L 1440*/
@media(max-width: 1440px) and (min-width: 1200px) {
    .layoutRegister{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        padding: 40px ;
        ;
    }
    

    .contanerLight {
        height: 70vh;
        width: 80vw;
        border-radius: 100px;
        top: 90px;
    }

    .container{
        flex-wrap: wrap;
    }
    

    .btn-M{
        height: 100px;
        width: 33vw;
        padding: 17px;
        font-family: 'monserrat';
        font-size: 1rem;
        font-weight:500;
    }

}

/*tablets y laptops*/
@media (max-width: 1199px) and (min-width: 768px) {
    /* Estilos para pantallas medianas */
    /* Estilos para pantallas extra pequeñas */
    .layoutRegister{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }

    .contanerLight {
        height: 60vh;
        width: 100vw;
        border-radius: 0px;
        top: 90px;
    }

    .container{
        flex-wrap: wrap;
    }
    

    .btn-M{
        height: 60px;
        width: 50vw;
        padding: 10px;
        font-family: 'monserrat';
        font-size: 1.5rem;
        font-weight:500;
    }

}

/*Pantallas Mobile medium*/
@media (max-width: 768px) {
     /* Estilos para pantallas extra pequeñas */
     .layoutRegister{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }

    .contanerLight {
        height: 60vh;
        width: 100vw;
        border-radius: 0px;
        top: 90px;
    }

    .container{
        flex-wrap: wrap;
    }
    

    .btn-M{
        height: 60px;
        width: 50vw;
        padding: 10px;
        font-family: 'monserrat';
        font-size: 1.5rem;
        font-weight:500;
    }
    
}

/*pantallas Mobile small*/
@media (max-width: 480px) {
    /* Estilos para pantallas extra pequeñas */
    .layoutRegister{
        grid-template-columns: 1fr; 
        gap: 2rem;
    }

    .content{
        width: 100vw;
        grid-row-start: 1;
    }

    .logo{
        grid-row-start: 2;
    }

    .contanerLight {
        height: 70vh;
        width: 100vw;
        border-radius: 0px;
        top: 8px;
    }

    .container{
        flex-wrap: wrap;
    }
    

    .btn-M{
        height: 60px;
        width: 100vw;
        padding: 10px;
        font-family: 'monserrat';
        font-size: 1.5rem;
        font-weight:500;
    }
}